package main 

import (
	"github.com/labstack/echo"
	c "{{ .Path }}"
)

// InitializeRoutes contains all application routes 
func InitializeRoutes() *echo.Echo {
	r := echo.New()
	r.GET("/", c.Hello)
  return r 	
}