{
  "version": "1.0.0",
  "scripts": {
    "build": "webpack --watch --mode development",
    "prod": "webpack --config webpack.prod.js --mode production"
  },
  "dependencies": {},
  "devDependencies": {}
}